 body {
    width: 1200px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif,"Cuprum";
    color: #293449;
    margin: 0 auto;
    padding: 0;
    
  
   }
 

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.main-header {
    width: 1200px;
    min-height: 320px;
    background-color: #f1f5f7;
}

.container {
    width: 940px;
    
    margin: 0 auto;
    padding: 0;
    
}
.header-top {
    width: 1200px;
    min-height:42px;
    background-color: #293449;
}


.logo {
    width: 220px;
    min-height: 42px;
    background-color:#ee3643;
    margin-left: 0px;
    float: left;
}

.logo-name {
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 11px;
    padding-left: 53px;
    text-transform: uppercase;
    font-family: "Cuprum";
    font-weight: bold;
}
.logo:hover {
    background-color: #ca2c37;
}


.navigation-top {
    width:715px;
    min-height: 42px;
    background: #293449;
    float: right;
    font-family: "Cuprum";
   
}

.navigation-top-search {
    min-height: 42px;
    width: 110px;
    float: left;
    margin-right: 140px;
    background-color: #293449;
}

.navigation-top-search:hover {
    background-color: #293449;
}

.search {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 44.5px;
    position: relative;
    display: inline-block;
    font-family: "Cuprum";
   
}

.search::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    background: url("../img/sprite3.png") no-repeat;

    opacity: 0.3;

    width: 17px;
    height: 17px;
    background-position: -15px -598px;
}


.search:hover::before {
    opacity: 1;
}

.navigation-top-marker {
    min-height: 42px;
    width: 150px;
    float: left;
    background-color: #293449;
}

.marker {
    position: relative;

    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 60px;
    padding-top: 12px;
}

.marker::before {
    content: "";
    position: absolute;
    top: -33px;
    left: 33px;
    background: url("../img/sprite3.png") no-repeat;
    width: 170px;
    height: 70px;
    background-position: -15px -15px;
    opacity: 0.3;
}

.marker:hover::before {
    opacity: 1;
}

.navigation-top-basket {
    min-height: 42px;
    width: 150px;
    float: left;
    background-color: #293449;
    
}

    


.basket {
    position: relative;

    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 65px;
    padding-top: 12px;

   
}

.basket::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 18px;
    width: 30px;
    height: 30px;
   
    background-position: -10px -46px;
    background: #293449  url("../img/sprite3.png") no-repeat;
    opacity: 0.3;
}

.basket:hover::before {
  opacity: 1;
}


.navigation-top-order {
    min-height: 42px;
    width: 150px;
    float: right;
    background-color: #63a63e;
}
.navigation-top-order:hover {
    background-color: #518534;
}


.order {
    position: relative;
    display: inline-block;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 12px;
    
    padding-left: 21px;
}


.header-center {
    min-height: 160px;
    background-color:#f1f5f7;
    
}


.site-name {
    display: inline-block;
   
    float: left;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin-top: 31px;
    margin-left: 53px;
    font-style:  italic;
    font-family: "Cuprum"; 
}

.user-block-1 {
   width: 121px;
   
   margin-top: 46px;
   float: left;
   background:#ffffff;
   margin-left:66px;
}

.login-1 {
  position: relative;
  display: inline-block;

  font-size: 21px;
  line-height: 18px;
  color: #888888;
  text-decoration: none;
  font-family: "Cuprum";
  padding: 13px 47px;
}

.login-1::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
  background-position: -15px -460px;
  background-image:  url("../img/sprite3.png");
  background-repeat: no-repeat;
}

.user-block-2 {
   width: 148px;
   min-height: 47px;
   float: right;
   margin-top: 46px;
   background:#ffffff;
   margin-left: 10px;
   text-align: center;
   font-family: "Cuprum";
}
 
.login-2 {
  display: inline-block;
  font-size: 21px;
  line-height: 18px;
  color: #888888;
  text-decoration: none;
  vertical-align: top;
  padding-left: 2px;
  padding-top: 13px;
  
}

.user-block-inner {
    width: 299px;
    min-height : 45px;
    float: right;
    background:#ffffff;
}

.login-3 {

}




.header-tel {
    width: 300px;
    min-height: 100px;
    
    float: left;
    margin-left: 60px;
}

.btn-tel {
    position: relative;
    display: inline-block;
    width: 270px;
    min-height: 45px;
    margin-top: 46px;
    color: #eb5b5d;
    font-size: 21px;
    line-height: 18px;
    border: 3px solid #ffffff;
    background-color: #f2f6f8;
    margin-left: 27px;
}

.btn-tel::before {
   content: "";
   position: absolute;
   top: 11px;
   left: 11px;
  
   width: 19px;
   height: 19px;
   background-position: -15px -507px;
   background-image: url("../img/sprite3.png");
   background-repeat: no-repeat;
   

}

.navigation-bottom {
    width: 940px;
    margin-left: 130px;
    background-color:#32425c;
}

.navigation-bottom a {
   color: #ffffff;
   text-decoration: none;
   display: block;
   padding-left: 34px;
   padding-right: 33px;
   padding-top: 20px;
   padding-bottom: 20px;

  
}

.navigation-bottom a:hover {
   background: #293449;
}

.navigation-bottom ul {
   margin: 0;
   padding: 0;

  list-style: none;
  font-size: 0;
}

.navigation-bottom li {
  display: inline-block;

  vertical-align: top;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum";
}

/*PREVIEW*/

.preview {
    width: 1200px;
    min-height: 415px;
    margin-top: 58px;
    background-color: #ffffff;
    
}

.preview-top {
    width: 940px;
    min-height: 127px;
    background-color: #ffffff;
}

.preview-top-1 {
    width: 300px;
   
    background-color: #f6b22d;
    margin-right: 20px;
    float: left;
}

.preview-top-1 p {
    display: block;
    width: 111px;
    height: 22px;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    position: relative;
}
.preview-top-1 p::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 190px;
    background-image:  url("../img/sprite3.png");
    background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    background-position: -15px -914px;
}

.btn-preview {
    display: inline-block;
    width: 135px;
    height: 38px;
    background: rgba(0, 0, 0, 0.10);
    margin-left: 24px;
    margin-bottom: 15px;
    padding-top: 8px;
    border-radius: 3px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    font-family: "Cuprum";

   
}
.preview-top-2 {
    width: 300px;
    min-height: 123px;
    background-color: #4aafde;
    margin-right: 0px;
    float: left;
}

.preview-top-2 p {
    display: block;
    width: 111px;
    height: 22px;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    position: relative;
}

.preview-top-2 p::before {
     content: "";
     position: absolute;
     top: 8px;
     left: 190px;
     width: 75px;
     height: 61px;
     background-image: url("../img/sprite3.png");
     background-repeat: no-repeat;
        
     background-position: -15px -1101px;
 }    
.preview-top-3 {
    width: 300px;
    min-height: 123px;
    background-color: #cc79d1;
    margin-left: 0px;
    float: right;
}
.preview-top-3 p {
    display: block;
    width: 111px;
    height: 22px;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    position: relative;
}

.preview-top-3 p::before {
     content: "";
     position: absolute;
     top: 6px;
     left: 169px;
     background-image: url("../img/sprite3.png");
     background-repeat: no-repeat;
     width: 78px;
     height: 62px;
     background-position: -15px -1009px;
}
    
.preview-bottom {
    width: 940px;
    height:266px;
    background-color: #ffffff;
}

.gallery {
    width: 620px;
    height: 266px;
    background: url("../img/Layer 99.png")no-repeat;
    float: left;
    margin-top: 20px;
}

.gallery-title {
    display: inline-block;
    width: 210px;
    height: 27px;
    margin-left: 24px;
    margin-top: 23px;
    font-size: 36px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Cuprum";
}

.gallery-text {
    display: block;
    width: 270px;
    height: 17px;
    margin-left: 27px;
    margin-top: 1px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

}

.btn-gallery-name {
    width: 196px;
    height: 38px;
    margin-left: 25px;
    margin-top: 130px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    background: #ee3643;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ee3643;
    font-family: "Cuprum";

}

.preview-top-4 {
    width: 300px;
    min-height: 123px;
    background-color: #85d179;
    margin-left: 20px;
    margin-top: 20px;
    float: right;
}

.preview-top-4 p {
    display: block;
    width: 150px;
    height: 22px;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    position: relative;
}

.preview-top-4 p::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 173px;
    background-image: url("../img/sprite3.png");
    background-repeat: no-repeat;
    width: 59px;
    height: 72px;
    background-position: -15px -687px;        
}


.preview-top-5 {
    width: 300px;
    min-height: 123px;
    background-color: #f6b22d;
    margin-left: 20px;
    margin-top: 20px;
    float: right;
}

.preview-top-5 p {
    display: block;
    width: 111px;
    height: 22px;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    position: relative;
}

.preview-top-5 p::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 169px;
    background-image: url("../img/sprite3.png");
    background-repeat: no-repeat;
    width: 78px;
    height: 63px;
    background-position: -15px -789px;
}


 
 
/*PRODUCT*/


.product {
    width: 1200px;
    
    background-color: #ffffff;
    
}

.product-nav {
    width: 940px;
    min-height: 90px;
    background-color: #f7f3ec;
    margin-top: 50px;
}

.product-nav-name {
    display: inline-block;
    font-size: 30px;
    line-height: 30px; 
    font-family: "Cuprum";
    float: left;
    padding-left: 28px;
    text-transform: uppercase;

}

.btn-product-nav-1 {
    min-height: 38px;
    width: 253px;
    font-size: 14px;
    line-height: 18px;
    margin-right: 22px;
    margin-top: 25px;
    background-color: #ee3643;
    float: right;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ee3643;
}



.product-content {
    width: 1200px;
   
    margin:20px auto;
}





.product-content-1 {           
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 17px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    float: left;
}



 .product-content-1 .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    display: none;
}
.product-content-1 .flag-new  {
    background: url("img/new flag.png") no-repeat 0 0;
}

.product-content-1 .actions {
    position: absolute;
    top : 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.product-content-1 .actions .buy,
.product-content-1 .actions .bookmark{
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}


 .product-content-1 .actions .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.product-content-1 .actions{
    display: none;
}
.product-content-1:hover .actions{
    display: block;
}


 .product-content-1 .gallery-product-1 {
    width: 218px;
    height: 168px;
}
.product-content-1 .gallery-product-1 img {
    max-width: 100%;
}

.product-content-1 .gallery-product-name {
    min-height: 40px;
    padding: 0 25px;
    
    margin-bottom: 15px;
    font-size:  18px;  
}
.product-content-1 .gallery-discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
    font-size:  17px;
}

.product-content-1 .gallery-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.product-content-1 .gallery-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color :#ee3643;
}



/**/

.product-content-2 {           
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 17px;
    margin-left: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    float: left;
}

.product-content-2::before {
    
    content: "";
    position: absolute;
    width: 127px;
    height: 112px;
    background: url("../img/snippet-18927 copy 3.png") no-repeat;
    top: 25px;
    left: 37px;
    
}

 .product-content-2 .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    display: none;
}
.product-content-2 .flag-new  {
    background: url("img/new flag.png") no-repeat 0 0;
}

.product-content-2 .actions {
    position: absolute;
    top : 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.product-content-2 .actions .buy,
.product-content-2 .actions .bookmark{
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}


 .product-content-2 .actions .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.product-content-2 .actions{
    display: none;
}
.product-content-2:hover .actions{
    display: block;
}


 .product-content-2 .gallery-product-1 {
    width: 218px;
    height: 168px;
}
.product-content-2 .gallery-product-1 img {
    max-width: 100%;
}

.product-content-2 .gallery-product-name {
    min-height: 40px;
    padding: 0 25px;
    
    margin-bottom: 15px;
    font-size:  18px;  
}
.product-content-2 .gallery-discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
    font-size:  17px;
}

.product-content-2 .gallery-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.product-content-2 .gallery-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color :#ee3643;
}

/**/

.product-content-3 {           
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 17px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    float: left;
}

.product-content-3::before {
    
    content: "";
    position: absolute;
    width: 167px;
    height: 112px;
    background: url("../img/snippet-945 copy 2.png") no-repeat;
    top: 17px;
    left: 20px;
    
}

 .product-content-3 .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    display: none;
}
.product-content-3 .flag-new  {
    background: url("img/new flag.png") no-repeat 0 0;
}

.product-content-3 .actions {
    position: absolute;
    top : 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.product-content-3 .actions .buy,
.product-content-3 .actions .bookmark{
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}


 .product-content-3 .actions .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.product-content-3 .actions{
    display: none;
}
.product-content-3:hover .actions{
    display: block;
}


 .product-content-3 .gallery-product-1 {
    width: 218px;
    height: 168px;
}
.product-content-3 .gallery-product-1 img {
    max-width: 100%;
}

.product-content-3 .gallery-product-name {
    min-height: 40px;
    padding: 0 25px;
    
    margin-bottom: 15px;
    font-size:  18px;  
}
.product-content-3 .gallery-discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
    font-size:  17px;
}

.product-content-3 .gallery-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.product-content-3 .gallery-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color :#ee3643;
}

/**/

.product-content-4 {           
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 1px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    float: left;
}

.product-content-4::before {
    
    content: "";
    position: absolute;
    width: 167px;
    height: 112px;
    background: url("../img/snippet-18927 copy 2.png") no-repeat;
    top: 17px;
    left: 20px;
    
}



 .product-content-4 .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    display: ;
}
.product-content-4 .flag-new  {
    background: url("img/new flag.png") no-repeat 0 0;
}

.product-content-4 .actions {
    position: absolute;
    top : 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.product-content-4 .actions .buy,
.product-content-4 .actions .bookmark{
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}


 .product-content-4 .actions .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.product-content-4 .actions{
    display: none;
}
.product-content-4:hover .actions{
    display: block;
}


 .product-content-4 .gallery-product-1 {
    width: 218px;
    height: 168px;
}
.product-content-4 .gallery-product-1 img {
    max-width: 100%;
}

.product-content-4 .gallery-product-name {
    min-height: 40px;
    padding: 0 25px;
    
    margin-bottom: 15px;
    font-size:  18px;  
}
.product-content-4 .gallery-discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
    font-size:  17px;
}

.product-content-4 .gallery-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.product-content-4 .gallery-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color :#ee3643;
}



/*MARK*/

.mark-nav {
    width: 940px;
    min-height: 90px;
    background-color: #f7f3ec;
    
    margin-bottom: 22px;
}
.mark-nav-name {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum";
    float: left;
    padding-left: 28px;
    text-transform: uppercase;
}

.btn-mark-nav {
    min-height: 38px;
    width: 253px;
    font-size: 14px;
    line-height: 18px;
    margin-right: 22px;
    margin-top: 25px;
    background-color: #ee3643;
    float: right;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ee3643;
}


.mark-content-top {
    width: 940px;
    min-height: 145px;
    background-color: #ffffff;
    margin-bottom: 20px;
}



.mark-content-1 {
    width: 220px;
    min-height: 145px;
    float: left;
    border: 1px solid #e5e5e5;
    margin-right: 15px;
}
.mark-content-1:last-child {
    margin-right: 0;
}

.mark-content-bottom {
    width: 940px;
    min-height: 145px;
    background-color: #ffffff;
    margin-top: 0;
}

.mark-content-2 {
    width: 220px;
    min-height: 145px;
    float: left;
    border: 1px solid #e5e5e5;
    margin-right: 15px;
}

.mark-content-2:last-child {
    margin-right: 0;
}
.mark-gallery-1 {
    width: 126px;
    min-height: 37px;
    margin-left: 47px;
    margin-top: 54px;
}

.mark-gallery-2 {
    width: 123px;
    min-height: 40px;
    margin-left: 48px;
    margin-top: 52px;
}

.mark-gallery-3 {
    width: 146px;
    min-height: 44px;
    margin-left: 48px;
    margin-top: 52px;
}

.mark-gallery-4 {
    width: 200px;
    min-height: 88px;
    margin-left: 10px;
    margin-top: 28px;
}
.mark-gallery-5 {
    width: 169px;
    min-height: 31px;
    margin-left: 25px;
    margin-top: 55px;
}

.mark-gallery-6 {
    width: 121px;
    min-height: 73px;
    margin-left: 49px;
    margin-top: 36px;
}

.mark-gallery-7 {
    width: 151px;
    min-height: 96px;
    margin-left: 34px;
    margin-top: 24px;
   
}
.mark-gallery-8 {
    width: 204px;
    min-height: 69px;
    margin-left: 3px;
    margin-top: 38px;
}
/*SERVICE*/



.main-service {
    width: 1200px;
    
    background-color: #f2f6f8;
    margin-top: 110px;
   
}



   
.contact {
    width: 1200px;
    background-color: #ffffff;
}

.contact-title {
    display: block;
    margin-top: 80px;
    font-size: 22px;
    text-transform: uppercase;
}

.contact-text-1 {
    display: inline-block;
    font-size: 12px;
    margin-top: 45px;
}

.contact-text-2 {
    display: inline-block;
    font-size: 12px;
    margin-top: 37px;

}
.contact-text-3 {
    display: inline-block;
    font-size: 12px;
    margin-top: 37px;
}

.contact-left {
    width: 540px;
    float:left;
}

.way {
    list-style: none; 
}

.way li {
  position: relative;
  display: block;
  width: 140px;
  min-height: 20px;
  
}

.way li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;
  width: 26px;
  height: 2px;
  background: #ee3643;
 }

.btn-way {
    width: 220px;
    min-height: 38px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ee3643;
    float:left;
    margin-top: 43px;
    border: 1px #ee3643;
    border-radius: 3px;
}

.contact-right {
    width: 300px;
    min-height: 300px;
    float: right;
    
}



.map {
    margin-top:47px;
    float: right;
}

.btn-map {
    width: 300px;
    min-height: 38px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ee3643;
    float:right;
    margin-top: 43px;
    border: 1px #ee3643;
    border-radius: 3px;
}


/*FOOTER*/

.main-footer {
  width: 1200px;
  min-height: 300px;
  background-color: #32425c;
  margin: 0 auto;
  margin-top: 90px;
}

.footer-top {
    width: 1200px;
    min-height: 64px;
    background-color: #32425c;
    
}

.logo-footer {
    width: 222px;
    min-height: 64px;
    background-color: #ee3643;
    float: left; 
}

.logo-footer:hover {
    background-color: #ba2732;
}

.logo-footer-name {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    display: inline-block;
    text-decoration:none;
    padding-left: 38px;
    padding-top: 16px;
    text-transform: uppercase;
    font-family: "Cuprum";
    font-weight: bold;
}

.footer-top-nav {
    width: 600px;
    min-height: 64px;
    float: right;
}

.footer-top-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0px;
    
    
}

.footer-top-nav li {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    vertical-align: top;
    
 
}

.footer-top-nav a {
   display: block;
   padding-left: 45px;
   padding-top: 43px;
   

   color: #ffffff;
   text-decoration: none;
}

.footer-center {
    width: 1200px;
    min-height: 130px;
    background-color: #32425c;
}
.adress {
    min-height: 55px;
    width: 333px;
    float: left;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    font-family: "Cuprum",;
    color: #ffffff;
}

.footer-center-nav {
    float: right;
    
}

.footer-center-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-center-nav li {
    display: inline-block;
    font-size: 18px;
  
    vertical-align: top;
}

.footer-center-nav a {
  display: block;
    padding: 25px 20px;
  
    color: #f1c77e;
    text-decoration: none;

}

.footer-bottom {
    width: 1200px;
    min-height: 107px;
    background-color: #293449;
}


.footer-copyright {
    min-height: 107px;
    width: 107px;
    float: left;
    min-height: 55px;
    width: 333px;
    float: left;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-social {
    
    width: 170px;
    float: left;
    text-align: center;
    margin-top: 35px;
}



.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  
  font-size: 0;
  text-decoration: none;
  position: relative;
  background: #000000 url("../img/sprite3.png");

}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;

}


.social-btn-vk {
    width: 43px;
    height: 43px;
    background-position: -4px -630px;
}

.social-btn-fb {
    width: 43px;
    height: 43px;
    background-position: 2px -313px;
}

.social-btn-inst {
    width: 43px;
    height: 43px;
    background-position: -2px -400px;
}



.footer-post {
     margin-left: 80px;
     width: 155px;
     float: left;
}

 .footer-post-title {
    display: block;
    color: #ffffff;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 40px;

    text-align: center;
 }

.footer-post-btn {
    color: #c6a771;
    font-size: 16px;
}

 .footer-post-btn:hover {
     text-decoration: none;
 }

.footer-mark {
     margin-left: 80px;
     width: 110px;
     float: right;
}
.footer-mark-title {
    display: block;
    color: #ffffff;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 40px;
    
    text-align: center;
}


.footer-mark-btn {
     color: #c6a771;
     font-size: 16px;
}

.footer-mark-btn:hover {
    content: "";
    text-decoration: none;

    }



/* Catalog inner*/

.inner-product-content {
    width: 700px;
    min-height: 1000px;
    margin-top: 20px;
}

.inner-nav {
    width: 940px;
    
    background-color: #ffffff;
}

.icon-inner {
    width: 45px;
    
    background: #ffffff;
    float: left;
    padding-right:11px;
    padding-top: 18px;
}

.inner-nav-catalog {
    width: 440px;
    
    float: left;

}
.inner-nav-catalog ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 0;
}

.inner-nav-catalog li {
  display: inline-block;

  font-size: 13px;
  line-height: 18px;
  vertical-align: top;
}



.inner-nav-catalog a {
  display: block;
  padding-top: 20px;
  padding-right: 42px;
  padding-left: 0;
  color: #000000;
  text-decoration: none;
}




.inner-nav-name {
    width: 940px;
    min-height: 90px;
    background-color: #f2f6f8;
    margin-top: 20px;
    margin-bottom: 0px;
}

.inner-nav-name-1 {
    display: inline-block;
    font-family: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    margin-left: 31px;
    text-transform: uppercase;

}
.inner-content {
    width: 940px;
    min-height: 1200px;
    background-color: #ffffff;
}

/***********/
/*////******/

.inner-content-left {
    width: 220px;
    min-height: 1200px;
    background-color: #ffffff;
    float: left;
}

.filter {
    width: 220px;
    min-height: 38px;
    background-color: #f7f3ec;
    margin-top: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    
}

.filter p {
    display: inline-block;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 11px;
    color: #000000;
    margin-left: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    vertical-align:top;

}

.inner-price {
    width: 220px;
    min-height: 17px;
    
    
}

.inner-price p {
    display: block;
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 1px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 9px;
    text-transform: uppercase;
    font-weight: bold;
   

 }
 
.inner-slider {
    width: 220px;
    min-height: 80px;
    background:#f7f3ec url("../img.Shape 2.png") no-repeat;
    
}

.inner-slider-range {
    width: 220px;
    min-height: 38px;
    
    margin-top: 10px;
}

.inner-slider-range-1 {
    width: 15px;
    min-height: 38px;
    background-color: #f7f3ec;
    float: left;
    margin-top: 0px;
}

.inner-slider-range-1 p {
    display: inline-block;
    font-size: 15px;
    line-height: 5px;
    color: #000000;
    
    vertical-align: top;
}

.inner-slider-range-2 {
    width: 10px;
    min-height: 38px;
    background-color: #ffffff;
    float: left;
   
}

.inner-slider-range-2 p {
    display: inline-block;
    font-size: 15px;
    line-height: 5px;
    color: #000000;
    
    vertical-align: top;
}


.inner-slider-range-3 {
    width: 50px;
    min-height: 38px;
    background-color: #f7f3ec;
    float: right;
   
}

.inner-slider-range-3 p {
    display: inline-block;
    font-size: 15px;
    line-height: 5px;
    color: #000000;
    
    vertical-align: top;
}


.inner-manufacturer {
    width: 220px;
    min-height: 264px;
    background-color: #ffffff;
    margin-top: 25px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.inner-manufacturer p {

    display: block;
    font-size: 17px;
    
    color: #000000;
    
    
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    display: block;
    margin: 19px 0;
    line-height: 20px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 30px;
    height: 25px;
    
   
    position: absolute;
    top: -5px;
    left: 0;
    background-image:  url("../img/sprite3.png");
    background-repeat: no-repeat;
    background-position: -15px -107px;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    width: 33px;
    height: 28px;
   
    position: absolute;
    top: -5px;
    left: -1px;
    background-image: url("../img/sprite3.png");
    background-repeat: no-repeat;
    background-position: -15px -160px;
}


.inner-supply {
    width: 220px;
    min-height: 200px;
    background-color: #e9ed5b;
    
}

 input[type="radio"] {
    display: none;
}
 input[type="radio"] + label {
    display: block;
    margin: 19px 0;
    line-height: 20px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    
}
 input[type="radio"] + label::before {
    content: "";
    display: block;
    width: 30px;
    height: 25px;
    
   
    position: absolute;
    top: -5px;
    left: 0;
    background-image:  url("../img/sprite3.png");
    background-repeat: no-repeat;
    background-position: -15px -213px;
}
 
 input[type="checkbox"]:checked + label::after {
    content: "";
    width: 33px;
    height: 28px;
   
    position: absolute;
    top: -5px;
    left: -1px;
    background-image: url("../img/sprite3.png");
    background-repeat: no-repeat;
    background-position: -15px -268px;
}











.btn-inner-left {
    width: 140px;
    min-height: 38px;
    background-color: #ffffff;
}


/*******/
    
    
.inner-content-right {
    width: 700px;
    min-height: 1000px;
    background-color: #ffffff;
    float: left;
    margin-left: 20px;
    margin-top: 16px;
}

   


.inner-sorting {
    width: 700px;
    min-height: 38px;
    background: #f7f3ec;
    border-radius: 3px;
    margin-bottom: 20px;
}


.filter-1 {
    float: left;
    width: 100px;
    margin-right: 50px;
    min-height: 38px;
    padding-left:20px;
    
}
.filter-1 p {

   display: inline-block;
   font-size: 13px;
  line-height: 12px;
  vertical-align: top;
  color: #000000;
  
  text-transform: uppercase;
}  
    



.filter-2 {
    float: left;
    width: 80px;
    margin-right: 0px;
    min-height: 38px;
    padding-left:71px;
    
}

.filter-2 p {

   display: inline-block;
   font-size: 13px;
  line-height: 11px;
  vertical-align: top;
  color: #f39b9d;
  
  text-transform: uppercase;
}  


.filter-3 {
    float: left;
    width: 60px;
    margin-right: 0px;
    min-height: 38px;
    padding-left:30px;
   
    
}

.filter-3 p {

   display: inline-block;
   font-size: 13px;
  line-height: 11px;
  vertical-align: top;
  color: #c1beb8;
  
  text-transform: uppercase;
}  

.filter-4 {
    float: left;
    width: 120px;
    margin-right: 0px;
    min-height: 38px;
    padding-left:59px;
   
    
}

.filter-4 p {

   display: inline-block;
   font-size: 13px;
  line-height: 11px;
  vertical-align: top;
  color: #c1beb8;
  
  text-transform: uppercase;
}

.filter-5 {
    float: left;
    width: 16px;
    margin-right: 0px;
    min-height: 38px;
    padding-left:41px;
    
    
}

.filter-5 p {

   display: inline-block;
   font-size: 13px;
  line-height: 11px;
  vertical-align: top;
  color: #c1beb8;
  
  text-transform: uppercase;
}

.filter-6 {
    float: left;
    width: 16px;
    margin-right: 0px;
    min-height: 38px;
    padding-left:15px;
    
    
}

.filter-6 p {

   display: inline-block;
   font-size: 13px;
  line-height: 11px;
  vertical-align: top;
  color: #c1beb8;
 
  text-transform: uppercase;
}


 







/**********SPRITE*******/

.sprite {
    background-image: url(../img/sprite3.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {  1
    width: 17px;
    height: 16px;
    background-position: -15px -15px;
}

.sprite--icon-bookmark { 2
    width: 14px;
    height: 16px;
    background-position: -15px -61px;
}

.sprite--icon-check-off { 3
    width: 23px;
    height: 23px;
    background-position: -15px -107px;
}

.sprite--icon-check-on { 4
    width: 27px;
    height: 23px;
    background-position: -15px -160px;
}

.sprite--icon-circle { 5
    width: 25px;
    height: 25px;
    background-position: -15px -213px;
}

.sprite--icon-circle-dot { 6
    width: 25px;
    height: 25px;
    background-position: -15px -268px;
}

.sprite--icon-facebook-copy { 7
    width: 10px;
    height: 18px;
    background-position: -15px -323px;
}

.sprite--icon-home {
    width: 15px;
    height: 12px;
    background-position: -15px -371px;
}

.sprite--icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -15px -413px;
}

.sprite--icon-login {
    width: 20px;
    height: 17px;
    background-position: -15px -460px;
}

.sprite--icon-phone {
    width: 19px;
    height: 19px;
    background-position: -15px -507px;
}

.sprite--icon-right {
    width: 8px;
    height: 12px;
    background-position: -15px -556px;
}

.sprite--icon-search {
    width: 17px;
    height: 17px;
    background-position: -15px -598px;
}

.sprite--icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -15px -645px;
}

.sprite-Layer-100 {
    width: 59px;
    height: 72px;
    background-position: -15px -687px;
}

.sprite-Layer-101 {
    width: 78px;
    height: 63px;
    background-position: -15px -789px;
}

.sprite-Layer-23-copy-3 {
    width: 25px;
    height: 2px;
    background-position: -15px -882px;
}

.sprite-Layer-92 {
    width: 44px;
    height: 65px;
    background-position: -15px -914px;
}

.sprite-Layer-95 {
    width: 78px;
    height: 62px;
    background-position: -15px -1009px;
}

.sprite-Layer-96 {
    width: 75px;
    height: 61px;
    background-position: -15px -1101px;
}
