body {
    width: 1200px;
    min-height: 3152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
    min-height: 320px;
    background-color: #f1f5f7;
}


.container {
    width: 940px;
    min-height: 42px;
    margin: 0 auto;
    padding: 0 1px;
    
}
.header-top {
    min-height:42px;
    background-color: #293449;
}


.logo {
    width: 220px;
    min-height: 42px;
    background-color:#ee3643;
    margin-left: 0px;
    float: left;
    
}

.navigation-top {
    width:715px;
    min-height: 42px;
    background: #293449;
    float: right;
   
}

.navigation-top-search {
    min-height: 42px;
    width: 100px;
    float: left;
    margin-right: 150px;
}

.navigation-top-marker {
    min-height: 42px;
    width: 160px;
    float: left;
}

.navigation-top-basket {
    min-height: 42px;
    width: 140px;
    float: left;
}

.navigation-top-order {
    min-height: 42px;
    width: 160px;
    float: right;
}


.header-center {
    min-height: 160px;
    background-color:#f1f5f7;
    
}


.site-name {
    width: 200px;
    min-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 49px;
    font-size: 8px;
    line-height: 12px;
    font-family: "Cuprum","Italic";
    color: #ee3643;
    float: left;

}



.header-tel {
    width: 300px;
    min-height: 70px;
    margin-top: 46px;
    float: left;
}

.user-block-1 {
   width: 122px;
   min-height: 47px;
   margin-top: 47px;
   float: left;
}

.user-block-2 {
   width: 150px;
   min-height: 70px;
   float: right;
   margin-top: 47px;
}

.navigation-bottom {
    width: 940px;
    min-height: 60px;
    background-color:#32425c;
}

.preview {
    width: 1200px;
    
    min-height: 450px;
    margin-top: 50px;

}
.preview-left {
    
    width: 620px;
    background-color:;
    float: left;
   
}

.gallery {
    margin-top: 125px;
   
    background: url("../img/Layer 99.png")no-repeat;
}


.btn-preview {
    min-height: 38px;
    width: 136px;
    margin-left: 26px;
    margin-bottom: 23px;
}

.btn-gallery-name {
    min-height: 39px;
    width: 197px;
    margin-left: 25px;
    margin-bottom: 22px;
}

.item-name-1 {
    width: 300px;
    min-height: 125px;
    background-color: #ffffff;
    float: left;
   
}

.item-name-2 {
    width: 300px;
    min-height: 125px;
    background-color: #32425c;
    float: right;
}

.preview-right {
    width: 300px;
   
    float: right;
}

.item-name-3 {
    width: 300px;
    min-height: 125px;
    margin-top: 1px;
    background-color: #bfbfbf;
}

.item-name-4 {
    width: 300px;
    min-height: 125px;
    background-color: #63a63e;
}

.item-name-5 {
    width: 300px;
    min-height: 125px;
    background-color: #d3ecc5;
}

.product {
    width: 1200px;
    min-height: 445px;
    background-color: #ffffff;
}

.product-nav {
    width: 940px;
    min-height: 90px;
    background-color: #f7f3ec;
}

.product-nav-name {
    width: 270px;
    min-height: 30px;
    margin-top: 30px;
    margin-left: 27px;
    float: left;
}

.btn-product-nav {
    min-height: 28px;
    width: 255px;
    margin-right: 22px;
    margin-top: 25px;
    background-color: #ee3643;
    float: right;
}

.product-content {
    width: 940px;
    min-height: 320px;
    
}

.product-content-1 {
    width: 220px;
    min-height: 318px;
    float: left;
    
}

.product-content-2 {
    width: 220px;
    min-height: 318px;
    float: right;
    
}


.gallery-product-1 {
    min-height: 127px;
    width: 112px;
    margin-left: 46px;
    margin-top: 20px;
}


.gallery-product-name {
    width: 170px;
    min-height: 38px;
    margin-left: 27px;
    
}

.gallery-price {
    width: 80px;
    min-height: 15px;
    margin-left: 70px;
    margin-top: 1px;
}

.btn-gallery-price {
    width: 140px;
    min-height: 40px;
    margin-left: 44px;
    margin-bottom: 30px;
}







.mark {
    width: 1200px;
    min-height: 420px;
}   



.mark-nav {
    width: 940px;
    min-height: 90px;
    background-color: #f7f3ec;
    margin-bottom: 20px;
}
.mark-nav-name {
    min-height: 37px;
    width: 373px;
    margin-left: 27px;
    margin-top: 27px;
    float: left;
}

.btn-mark-nav {
    width: 254px;
    min-height: 37px;
    margin-right: 24px;
    margin-top: 27px;
    float: right;

}

.mark-content {
    width: 940px;
    min-height: 312px;
    background-color: #eeeeee;
}

.mark-content-1 {
    width: 220px;
    min-height: 145px;
    float: left;
}

.mark-gallery-1 {
    width: 126px;
    min-height: 37px;
    margin-left: 47px;
    margin-top: 54px;
}

.mark-gallery-2 {
    width: 123px;
    min-height: 40px;
    margin-left: 48px;
    margin-top: 52px;
}

.mark-gallery-3 {
    width: 146px;
    min-height: 44px;
    margin-left: 48px;
    margin-top: 52px;
}

.mark-gallery-4 {
    width: 200px;
    min-height: 88px;
    margin-left: 10px;
    margin-top: 28px;
}
.mark-gallery-5 {
    width: 169px;
    min-height: 31px;
    margin-left: 25px;
    margin-top: 55px;
}

.mark-gallery-6 {
    width: 121px;
    min-height: 73px;
    margin-left: 49px;
    margin-top: 36px;
}

.mark-gallery-7 {
    width: 151px;
    min-height: 96px;
    margin-left: 34px;
    margin-top: 24px;
}

.mark-gallery-8 {
    width: 204px;
    min-height: 69px;
    margin-left: 3px;
    margin-top: 38px;
}

.main-service {
    width: 1200px;
    min-height: 520px;
    background-color: #f2f6f8;
    margin-bottom: 80px;
    
}

.service-name {
    width: 940px;
    min-height: 238px;
    background-color: #f2f6f8;
}

.btn-service-1 {
    width: 240px;
    min-height: 62px;
    background-color: #63a63e;
   
}

.service-column-1 {
    width: 240px;
    min-height: 185px;
    background-color: #f2f6f8;
    float: left;
}

.service-column-2 {
    width: 200px;
    min-height: 185px;
    float: left;
    margin-left: 50px;
    background-color: #f2f6f8;
}
.service-column-3 {
    float: left;
    margin-top: 10px;
    background-color: #f2f6f8;
}

.contact {
    width: 1200px;
    
    background-color: #ffffff;
}

.contact-left {
    width: 540px;
    
    float:left;
}

.contact-right {
    width: 380px;
   
    float: right;
}

.main-footer {
  width: 1200px;
  min-height: 300px;
  background-color: #32425c;
  margin: 0 auto;
  margin-top: 90px;
}

.footer-top {
    width: 940px;
    min-height: 47px;
    background-color: #bfbfbf;
}

.footer-logo {
    width: 220px;
    min-height: 47px;
    background-color:#ee3643;
    margin-left: 0px;
    float: left;
}

.footer-top-nav {
    float: right;
}

.footer-center {
    width: 940px;
    min-height: 130px;
    background-color: #32425c;
}
.adress {
    min-height: 55px;
    width: 333px;
    float: left;
}

.footer-center-nav {
    float: right;
    
}

.footer-bottom {
    min-height: 107px;
    background-color: #293449;
}


.footer-copyright {
    min-height: 107px;
    width: 170px;
    float: left;
}

.footer-social {
    min-height: 107px;
    width: 250px;
    float: left;
    background-color: #293449;
}


.footer-post {
     min-height: 107px;
     width: 155px;
     float: left;
}

.footer-mark {
     min-height: 107px;
     width: 110px;
     float: right;
}

/* Catalog inner*/

.inner-nav {
    width: 940px;
    min-height: 60px;
    background-color: #ee3643;
}
.inner-nav-name {
    width: 940px;
    min-height: 90px;
    background-color: #bfbfbf;
}
.inner-content {
    width: 940px;
    min-height: 1200px;
    background-color: #3dcb58;
}

.inner-content-left {
    width: 220px;
    min-height: 1200px;
    background-color: #80dacd;
    float: left;
}

.filter {
    width: 220px;
    min-height: 38px;
    background-color: #cd84d3;
    margin-bottom: -20px;
}

.inner-price {
    width: 220px;
    min-height: 57px;
    background-color: #a952ae;
    margin: 0;
}

.inner-slider {
    width: 220px;
    min-height: 80px;
    background-color: #e7e888;
    margin-bottom: 10px;
}

.inner-slider-range-1 {
    width: 95px;
    min-height: 38px;
    background-color: #838384;
    float: left;
}

.inner-slider-range-2 {
    width: 95px;
    min-height: 38px;
    background-color: #838384;
    float: right;
   
}

.inner-manufacturer {
    width: 220px;
    min-height: 264px;
    background-color: #a0edee;
    margin-top: 65px;
}

.inner-supply {
    width: 220px;
    min-height: 200px;
    background-color: #e9ed5b;
    
}
.btn-inner-left {
    width: 140px;
    min-height: 38px;
    background-color: #ffffff;
}

.inner-content-right {
    width: 700px;
    min-height: 1200px;
    background-color: #ffffff;
    float: right;
}

.inner-right-title {
     width: 700px;
     min-height: 38px; 
}
.inner-right-title h {
     width: 140px;
     min-height: 38px;
     float: left;
     background-color: #f7f3ec;
}

.inner-product-content {
    width: 700px;
    min-height: 1000px;

}

.inner-inform {
    width: 1200px;
    min-height: 262px;
    background-color: #f2f6f8;
    margin-top: -18px; 
}
